#header {
  position: fixed;
  height: 49px;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: #000000;
  border-bottom: solid #3fb2bb 3px;
}

#main-layout {
  position: absolute;
  top: 52px;
  bottom: 24px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
}

#footer {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: solid #3fb2bb 3px;
}

.lightIcon {
  color: #FFFFFF;
}

.lightLink {
  color: #DEDEDE;
  text-decoration: none;
}

.articleContainer {
  border: solid #DEDEDE 1px;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 12px;
}
